<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title data-th-text="#{label.confirm.title}">JiraRush - подтверждение почты</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p th:text="#{label.confirm.greeting} + ${user.firstName} + '.'"/>
<p data-th-text="#{label.confirm.right.email}">Чтобы завершить настройку учетной записи и начать пользоваться JiraRush, подтвердите, что вы правильно указали вашу
    электронную почту.</p>
<a th:href="${confirmationUrl}" data-th-text="#{label.confirm.prove.email}">Подтвердить почту</a>
</body>
</html>