<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title data-th-text="#{label.password.reset.new.password}">JiraRush - установить новый пароль</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p th:text="#{label.confirm.greeting} + ${user.firstName} + '.'"/>
<p th:text="#{label.password.received} + ${user.email} + '.'"/>
<a th:href="${resetUrl}" data-th-text="#{label.password.confirm.password}">Установить пароль</a>
</body>
</html>